.cartContainer {
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
}
.addToCard {
    color: #66402B;
}
.cartNumberDiv {
 display: flex;
 align-content: center;
 align-items:center;
 justify-items: center;
 justify-content: center;
 position: absolute;
 width: 20px;
 height:  20px;
 left: 15px;
 top: -5px;
 border-radius: 100px;
}
.numBgHome {
    background: black;
}

.numBg {
    background: #BB7F5E;
}
.cartNumber {
    color: white;
    font-size: 15px;
}


@media only screen and (max-width: 805px) {
    .cartNumberDiv {
        width: 15px;
        height:  15px;
        left: 15px;
        top: -5px;
    }
    .cartNumber {
        color: white;
        font-size: 9px;
    }
    .nav {
        padding: 2rem 2rem;
    }
}
