@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins:wght@100;200;300&display=swap');

.menuCart {
    cursor: pointer;
    height: 550px;
    max-width: 382px;
    margin: 5rem .1rem;
    padding: 3rem 2rem ;
    background: #FFFFFF;
    box-shadow: -2px 8px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}
.menuCartTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    text-align: center;
    padding: .4rem;
    color: #F6556C;
}

.menuCartDescription { 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #2C2C2E;
    padding: 0 1.5rem;
}
.productsPrice {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    padding: .4rem .4rem;
    text-align: center;
    color: #F6556C;
}
.addToCardBtn {
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    margin-bottom: 1.3rem;
    font-size: 15px;
    border: 1px solid #F6556C;;
    text-align: center;
    color: #F6556C;
    height: 60px;
    width: 80%;
    background-color: transparent;
    align-self: center;
    border-radius: 10px;
    margin-top: .6rem;
}
.ourMenuCartBtnBox {
    display: flex;
    justify-content: center;

    width: 100%;
}
.carouselArrow{
    background: #F6556C;
}


/* =====================  Media Queries ======================  */
/* @media only screen and (max-width: 1700px) {
    .menuCart {
        width: 345px;
        height: 511px;
    }
}
@media only screen and (max-width: 1555px) {
    .menuCart {
        width: 329px;
        height: 470px;
    }
    .addToCardBtn {
        font-size: 21px;
        height: 49px;
        width: 72%;
    }
    .menuCartTitle {
        font-size: 23px;
    }
    .productsPrice {
        font-size: 19px;
    }
}
@media only screen and (max-width: 1502px) {
    .menuCart {
        width: 263px;
        height: 443px;
    }
}
@media only screen and (max-width: 591px) {
    .menuCart {
        width: 100%;
        height: 480px;
    }
} 
 @media only screen and (max-width: 1394px) {
    .menuCart{
        height: 486px;
    }
}
@media only screen and (max-width: 812px) {
    .menuCart {
        height: 525px;
    }
    .menuCart {
        width: 100%;
    }
    .prouctImgBox {
        display: flex;
        justify-content: center;
        max-width: 100%;
     }
   } 
 
 */
